.brand-sidebar{
	background-color: #ef1e1e;
}
.sidenav{
	background-color: #ef1e1e;
}
.sidenav li a{
	color: #ffffff;
}
.sidenav li>a li>a>[class*=mdi-], .sidenav li>a>[class^=mdi-], .sidenav li>a>i, .sidenav li>a>i.material-icons{
	color: #ffffff;
}
.brand-sidebar .logo-wrapper a.navbar-toggler i{
	color: #ffffff;
}
.navbar-fixed .navbar-main {
    padding: 0 15px;
    background: #c10101!important;
}

footer.page-footer {
    padding-top: 1px;
    background: #8a8a8a69!important;
}

.logo-text{
	color: #ffffff;
	font-weight: 800;

}

.gradient-45deg-indigo-purple{
	background: #c10101!important;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
	background-color: #ffffff!important;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
	background-color: #ffffff!important;

}
.cyan {
    background-color: #ef1e1e!important;
}
.gradient-45deg-light-blue-cyan {
    background: -webkit-linear-gradient(
45deg
,#0288d1,#0288d1)!important;
    background: linear-gradient(
45deg
,#0288d1,#058ad2)!important;
}

.gradient-45deg-red-pink {
    background: -webkit-linear-gradient(
45deg
,#c10101,#c10101)!important;
    background: linear-gradient(
45deg
,#ef1e1e,#ef1e1e)!important;
}

.gradient-45deg-amber-amber {
    background: -webkit-linear-gradient(
45deg
,#ff6f00,#ffca28)!important;
    background: linear-gradient(
45deg
,#ff6f00,#ff7102)!important;
}
.gradient-45deg-green-teal {
    background: -webkit-linear-gradient(
45deg
,#43a047,#1de9b6)!important;
    background: linear-gradient(
45deg
,#43a047,#42a44e)!important;
}

.gradient-45deg-purple-deep-orange {
    background: -webkit-linear-gradient(
45deg
,#8e24aa,#ff6e40)!important;
    background: linear-gradient(
45deg
,#f02020,#ef1f1f)!important;
}